node-red/flows.json
[{"id":"d5b8e842.fea708","type":"tab","label":"Home Occupancy","disabled":false,"info":""},{"id":"b778caca.4a4a48","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"473803c3.6434bc","type":"tab","label":"Gargage","disabled":false,"info":""},{"id":"7230bf98.acaf4","type":"tab","label":"Laundry","disabled":false,"info":""},{"id":"a44c7a7b.d0e848","type":"tab","label":"Hubs","disabled":false,"info":""},{"id":"d188a315.f37e5","type":"tab","label":"Fun","disabled":false,"info":""},{"id":"f8a50b9a.39c988","type":"server","name":"Home Assistant","addon":true},{"id":"6f063223.2751ac","type":"server","name":"Home Assistant"},{"id":"76384a52.7084c4","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"6a99bb32.7b2f04","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true},{"id":"70ed1a0d.e47734","type":"server-state-changed","z":"d5b8e842.fea708","name":"Justin Home","server":"f8a50b9a.39c988","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.justin","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":100,"wires":[["ede60d89.42041","d61efdbb.ff65f","7d079dd5.1ae524","5aa55237.41533c"],["b7e54f2f.ff8f4"]]},{"id":"ede60d89.42041","type":"api-call-service","z":"d5b8e842.fea708","name":"Home Occupied","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1020,"y":80,"wires":[[]]},{"id":"27bec9b.5579336","type":"server-state-changed","z":"d5b8e842.fea708","name":"Steph Home","server":"f8a50b9a.39c988","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.steph","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":160,"wires":[["ede60d89.42041","d61efdbb.ff65f","7d079dd5.1ae524","5aa55237.41533c"],["b96e2a07.aaa9a8"]]},{"id":"b7e54f2f.ff8f4","type":"api-current-state","z":"d5b8e842.fea708","name":"Steph Home","server":"f8a50b9a.39c988","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.steph","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":200,"wires":[[],["3c1a0e2f.7f9012"]]},{"id":"b96e2a07.aaa9a8","type":"api-current-state","z":"d5b8e842.fea708","name":"Justin Home","server":"f8a50b9a.39c988","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.justin","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":280,"wires":[[],["3c1a0e2f.7f9012"]]},{"id":"3c1a0e2f.7f9012","type":"api-current-state","z":"d5b8e842.fea708","name":"House Guest","server":"f8a50b9a.39c988","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.house_guests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":240,"wires":[[],["da3399ed.f4de28","a65adf9c.2c35","4852186b.6c4178","e2450418.b924e8"]]},{"id":"da3399ed.f4de28","type":"api-call-service","z":"d5b8e842.fea708","name":"Home Not Occupied","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1040,"y":240,"wires":[[]]},{"id":"80a6e306.bf39b","type":"api-call-service","z":"473803c3.6434bc","name":"Garage Light","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":160,"wires":[[]]},{"id":"41c7cf10.22002","type":"switch","z":"473803c3.6434bc","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":389.99999046325684,"y":237.00000286102295,"wires":[["80a6e306.bf39b","fa81bdf4.7f385"],["fa81bdf4.7f385"]]},{"id":"557fd9d6.d3ba78","type":"server-state-changed","z":"473803c3.6434bc","name":"Garage Motion","server":"f8a50b9a.39c988","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_sensor_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":211.9999771118164,"y":237.00000190734863,"wires":[["41c7cf10.22002"]]},{"id":"d3070933.4f33e8","type":"api-call-service","z":"473803c3.6434bc","name":"Garage Light","server":"f8a50b9a.39c988","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":240,"wires":[[]]},{"id":"fa81bdf4.7f385","type":"trigger","z":"473803c3.6434bc","name":"trigger","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":240,"wires":[["d3070933.4f33e8"]]},{"id":"7123f934.3d04e8","type":"api-call-service","z":"7230bf98.acaf4","name":"Laundry Light","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.laundry_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":120,"wires":[[]]},{"id":"d2e424a1.1e9ed8","type":"switch","z":"7230bf98.acaf4","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":389.99999046325684,"y":197.00000286102295,"wires":[["7123f934.3d04e8","aeda5c4.db665a"],["aeda5c4.db665a"]]},{"id":"b78f4c28.d9f18","type":"server-state-changed","z":"7230bf98.acaf4","name":"Laundry Motion","server":"f8a50b9a.39c988","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.laundry_sensor_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":211.9999771118164,"y":197.00000190734863,"wires":[["d2e424a1.1e9ed8"]]},{"id":"5c91b674.994708","type":"api-call-service","z":"7230bf98.acaf4","name":"Laundry Light","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.laundry_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":200,"wires":[[]]},{"id":"aeda5c4.db665a","type":"trigger","z":"7230bf98.acaf4","name":"trigger","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":200,"wires":[["5c91b674.994708"]]},{"id":"d61efdbb.ff65f","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn on Entry Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.entry_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":500,"wires":[[]]},{"id":"7d079dd5.1ae524","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn on Garage Light","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":560,"wires":[[]]},{"id":"5aa55237.41533c","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn on Cabinet Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lenovo_sp_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":420,"y":620,"wires":[[]]},{"id":"a65adf9c.2c35","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn off all Internal Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":300,"wires":[[]]},{"id":"4852186b.6c4178","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn off Garage Light","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_light","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1040,"y":360,"wires":[[]]},{"id":"e2450418.b924e8","type":"api-call-service","z":"d5b8e842.fea708","name":"Turn off Cabinet Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.lenovo_sp_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1040,"y":420,"wires":[[]]},{"id":"6b514fac.1e084","type":"amazon-echo-hub","z":"a44c7a7b.d0e848","port":"80","processinput":0,"discovery":true,"x":210,"y":100,"wires":[["dff1328c.941a6"]]},{"id":"dff1328c.941a6","type":"link out","z":"a44c7a7b.d0e848","name":"Alexa Out","links":["5171f6fd.9b1348","b1155705.706368","80f1a30d.0ac84","8154fe48.68f23"],"x":420,"y":100,"wires":[],"l":true},{"id":"b1155705.706368","type":"link in","z":"b778caca.4a4a48","name":"Alexa In","links":["dff1328c.941a6"],"x":75,"y":60,"wires":[["e9b8a2fc.36e03"]]},{"id":"e9b8a2fc.36e03","type":"amazon-echo-device","z":"b778caca.4a4a48","name":"Stephanie Protocol","topic":"","x":210,"y":60,"wires":[["a5898a6.e029c78","7c1dbf40.7fcb6"]]},{"id":"a5898a6.e029c78","type":"api-call-service","z":"b778caca.4a4a48","name":"Turn Off All Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.all_lights_toggle","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":60,"wires":[[]]},{"id":"7c1dbf40.7fcb6","type":"api-call-service","z":"b778caca.4a4a48","name":"Turn Off All Switch Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.switch_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":120,"wires":[[]]},{"id":"76e4e2eb.45aacc","type":"amazon-echo-device","z":"d188a315.f37e5","name":"Vomit Christmas","topic":"","x":200,"y":60,"wires":[["59f7c978.d70108"]]},{"id":"80f1a30d.0ac84","type":"link in","z":"d188a315.f37e5","name":"Alexa In","links":["dff1328c.941a6"],"x":55,"y":60,"wires":[["76e4e2eb.45aacc"]]},{"id":"10ef813e.dd63af","type":"ha-get-entities","z":"d188a315.f37e5","server":"f8a50b9a.39c988","name":"Get Random Light that supports RGB","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"attributes.rgb_color","logic":"is_not","value":"null","valueType":"str"}],"output_type":"random","output_empty_results":false,"output_location_type":"msg","output_location":"light","output_results_count":1,"x":970,"y":200,"wires":[["762004fe.cb141c","b3a2f634.85c8d8"]]},{"id":"762004fe.cb141c","type":"debug","z":"d188a315.f37e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"light","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":200,"wires":[]},{"id":"14f40c58.5b1874","type":"api-call-service","z":"d188a315.f37e5","name":"Turn On All Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":200,"wires":[["10ef813e.dd63af"]]},{"id":"b3a2f634.85c8d8","type":"random","z":"d188a315.f37e5","name":"Colour selector","low":"1","high":"5","inte":"true","property":"colour","x":900,"y":280,"wires":[["b7a25953.979628"]],"info":"Now let's pick the colors. I have 5 colors to pick from, so again this will pick a random color to use."},{"id":"b7a25953.979628","type":"change","z":"d188a315.f37e5","name":"Convert to colour","rules":[{"t":"change","p":"colour","pt":"msg","from":"1","fromt":"num","to":"red","tot":"str"},{"t":"change","p":"colour","pt":"msg","from":"2","fromt":"num","to":"green","tot":"str"},{"t":"change","p":"colour","pt":"msg","from":"3","fromt":"num","to":"white","tot":"str"},{"t":"change","p":"colour","pt":"msg","from":"4","fromt":"num","to":"green","tot":"str"},{"t":"change","p":"colour","pt":"msg","from":"5","fromt":"num","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":280,"wires":[["dbcd658d.bd6418","bf9d4a30.5cb928","5196fcaf.729604"]],"info":"Converting the random number to a color name. I think these colors are christmassy, but your tastes may vary."},{"id":"dbcd658d.bd6418","type":"api-call-service","z":"d188a315.f37e5","name":"Execute","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.light.entity_id,\t   \"color_name\": msg.colour,\t   \"transition\": 4,\t   \"brightness_pct\": 100\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":360,"wires":[["7c94e2d9.4d140c"]]},{"id":"7c94e2d9.4d140c","type":"debug","z":"d188a315.f37e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"2c78395a.d44786","type":"inject","z":"b778caca.4a4a48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["a5898a6.e029c78","7c1dbf40.7fcb6"]]},{"id":"f315a05b.7e621","type":"ha-get-entities","z":"d188a315.f37e5","server":"f8a50b9a.39c988","name":"Get All Lights","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"lights","output_results_count":1,"x":650,"y":60,"wires":[["19e85c0e.f4d1d4"]]},{"id":"bf9d4a30.5cb928","type":"delay","z":"d188a315.f37e5","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":280,"wires":[["dbfa0856.1d6ff8"]]},{"id":"59f7c978.d70108","type":"api-call-service","z":"d188a315.f37e5","name":"Turn on Vomit Christmas","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.vomit_christmas","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":60,"wires":[["f315a05b.7e621","b41e639.8993aa"]]},{"id":"dbfa0856.1d6ff8","type":"api-current-state","z":"d188a315.f37e5","name":"","server":"f8a50b9a.39c988","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vomit_christmas","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":280,"wires":[["10ef813e.dd63af"],[]]},{"id":"27d7b2c2.0d626e","type":"amazon-echo-device","z":"d188a315.f37e5","name":"Kill Christmas","topic":"","x":200,"y":640,"wires":[["49f6b45c.eb58ac"]]},{"id":"8154fe48.68f23","type":"link in","z":"d188a315.f37e5","name":"Alexa In","links":["dff1328c.941a6"],"x":55,"y":640,"wires":[["27d7b2c2.0d626e"]]},{"id":"5196fcaf.729604","type":"debug","z":"d188a315.f37e5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"colour","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"72181562.bf362c","type":"inject","z":"d188a315.f37e5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["59f7c978.d70108"]]},{"id":"19e85c0e.f4d1d4","type":"function","z":"d188a315.f37e5","name":"transform data","func":"const payload = {};\npayload.domain = msg.payload.entity_id.split('.')[0];\npayload.service = `turn_${msg.payload.state}`;\npayload.data = { entity_id: msg.payload.entity_id };\n\n// create a blank message object with out new payload\nmsg = { payload: payload };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":60,"wires":[["2b7e0299.1ce7ae"]]},{"id":"b3db19bf.61d8e8","type":"change","z":"d188a315.f37e5","name":"","rules":[{"t":"set","p":"savedStates","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":60,"wires":[["14f40c58.5b1874","6681097c.e8dba8"]]},{"id":"2b7e0299.1ce7ae","type":"join","z":"d188a315.f37e5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":60,"wires":[["b3db19bf.61d8e8"]]},{"id":"a5a0930.ed3ae7","type":"change","z":"d188a315.f37e5","name":"Get Saved States","rules":[{"t":"set","p":"payload","pt":"msg","to":"savedStates","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":740,"wires":[["6247c7cf.5cb858"]]},{"id":"8f420c5d.82373","type":"debug","z":"d188a315.f37e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":740,"wires":[]},{"id":"6247c7cf.5cb858","type":"split","z":"d188a315.f37e5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":870,"y":740,"wires":[["719b7b39.cbf0e4"]]},{"id":"719b7b39.cbf0e4","type":"api-call-service","z":"d188a315.f37e5","name":"Restore State","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":740,"wires":[["8f420c5d.82373"]]},{"id":"49f6b45c.eb58ac","type":"api-call-service","z":"d188a315.f37e5","name":"Turn off Vomit Christmas","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vomit_christmas","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":640,"wires":[["afcfdf3.ed7a42","9d3eae0.5a8d35","dd357c84.e04d6"]]},{"id":"599a32fe.28f4ec","type":"ha-get-entities","z":"d188a315.f37e5","server":"f8a50b9a.39c988","name":"Get Lights that support RGB","rules":[{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"attributes.rgb_color","logic":"is_not","value":"null","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"lights","output_results_count":1,"x":940,"y":640,"wires":[["f28104d3.a0fe28"]]},{"id":"f28104d3.a0fe28","type":"api-call-service","z":"d188a315.f37e5","name":"Execute","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\t   \"entity_id\": msg.lights.entity_id,\t   \"color_name\": \"white\",\t   \"transition\": 1,\t   \"brightness_pct\": 100\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":640,"wires":[[]]},{"id":"9dd114d.a7968e8","type":"inject","z":"d188a315.f37e5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["49f6b45c.eb58ac"]]},{"id":"afcfdf3.ed7a42","type":"delay","z":"d188a315.f37e5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":740,"wires":[["a5a0930.ed3ae7"]]},{"id":"9d3eae0.5a8d35","type":"api-call-service","z":"d188a315.f37e5","name":"Turn On All Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":640,"wires":[["599a32fe.28f4ec"]]},{"id":"b41e639.8993aa","type":"api-call-service","z":"d188a315.f37e5","name":"Play All I want for Christmas","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"group.all_speakers","data":"{\"media_content_id\":\"all i want for christmas mariah carey\",\"media_content_type\":\"APPLE_MUSIC\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":440,"wires":[[]]},{"id":"dd357c84.e04d6","type":"api-call-service","z":"d188a315.f37e5","name":"","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_stop","entityId":"group.all_speakers","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":820,"wires":[[]]},{"id":"6681097c.e8dba8","type":"api-call-service","z":"d188a315.f37e5","name":"Turn on Christmas Lights","server":"f8a50b9a.39c988","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.christmas_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":140,"wires":[[]]}]